{
    "openapi": "3.0.0",
    "info": {
        "title": "Olist ERP API v3",
        "description": "Documentação completa: <a href=\"https://api-docs.erp.olist.com\" target=\"_blank\">https://api-docs.erp.olist.com</a>",
        "version": "3.1"
    },
    "servers": [
        {
            "url": "https://api.tiny.com.br/public-api/v3"
        }
    ],
    "paths": {
        "/categorias/todas": {
            "get": {
                "tags": [
                    "Categorias"
                ],
                "summary": "Listar árvore de categorias",
                "operationId": "ListarArvoreCategoriasAction",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListarArvoreCategoriasModelResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categorias-receita-despesa": {
            "get": {
                "tags": [
                    "Categorias de receita e despesa"
                ],
                "summary": "Listar categorias de receita e despesa",
                "operationId": "ListarCategoriasReceitaDespesaAction",
                "parameters": [
                    {
                        "parameter": "descricaoCategoriasReceitaDespesa",
                        "name": "descricao",
                        "in": "query",
                        "description": "Pesquisa por descrição completa da categorias de receita e despesa",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "grupoCategoriasReceitaDespesa",
                        "name": "grupo",
                        "in": "query",
                        "description": "Pesquisa por grupo de categorias de receita e despesa",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "orderBy",
                        "name": "orderBy",
                        "in": "query",
                        "description": "Define a ordenação da listagem por ordem crescente ou decrescente\n- asc - Crescente\n- desc - Descrescente",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        },
                        "x-enumDescriptions": [
                            "asc - Crescente",
                            "desc - Descrescente"
                        ]
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limite da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "itens": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ListagemCategoriasReceitaDespesaResponseModel"
                                            }
                                        },
                                        "paginacao": {
                                            "$ref": "#/components/schemas/PaginatedResultModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contas-pagar/{idContaPagar}/marcadores": {
            "get": {
                "tags": [
                    "Contas a pagar"
                ],
                "summary": "Obter marcadores da conta a pagar",
                "operationId": "ObterMarcadoresContaPagarAction",
                "parameters": [
                    {
                        "name": "idContaPagar",
                        "in": "path",
                        "description": "Identificador da Conta a Pagar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObterMarcadorResponseModel"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Contas a pagar"
                ],
                "summary": "Atualizar marcadores da conta a pagar",
                "operationId": "AtualizarMarcadoresContaPagarAction",
                "parameters": [
                    {
                        "name": "idContaPagar",
                        "in": "path",
                        "description": "Identificador da conta a pagar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AtualizarMarcadorRequestModel"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Contas a pagar"
                ],
                "summary": "Criar marcadores da conta a pagar",
                "operationId": "CriarMarcadoresContaPagarAction",
                "parameters": [
                    {
                        "name": "idContaPagar",
                        "in": "path",
                        "description": "Identificador da conta a pagar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CriarMarcadorRequestModel"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Contas a pagar"
                ],
                "summary": "Excluir marcadores da conta a pagar",
                "operationId": "ExcluirMarcadoresContaPagarAction",
                "parameters": [
                    {
                        "name": "idContaPagar",
                        "in": "path",
                        "description": "Identificador da conta a pagar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contas-pagar": {
            "get": {
                "tags": [
                    "Contas a pagar"
                ],
                "summary": "Listar contas a pagar",
                "operationId": "ListarContasPagarAction",
                "parameters": [
                    {
                        "parameter": "nomeClienteContasPagar",
                        "name": "nomeCliente",
                        "in": "query",
                        "description": "Pesquisa por nome do cliente de contas a pagar",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "situacaoContasPagar",
                        "name": "situacao",
                        "in": "query",
                        "description": "Pesquisa por situação de contas a pagar\n- aberto - Aberto\n- cancelada - Cancelada\n- pago - Pago\n- parcial - Parcial\n- prevista - Prevista\n- atrasadas - Atrasadas\n- emissao - Emissao",
                        "required": false,
                        "schema": {
                            "enum": [
                                "aberto",
                                "cancelada",
                                "pago",
                                "parcial",
                                "prevista",
                                "atrasadas",
                                "emissao"
                            ]
                        },
                        "x-enumDescriptions": [
                            "aberto - Aberto",
                            "cancelada - Cancelada",
                            "pago - Pago",
                            "parcial - Parcial",
                            "prevista - Prevista",
                            "atrasadas - Atrasadas",
                            "emissao - Emissao"
                        ]
                    },
                    {
                        "parameter": "dataInicialEmissaoContasPagar",
                        "name": "dataInicialEmissao",
                        "in": "query",
                        "description": "Pesquisa por data inicial da emissão de contas a pagar",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "parameter": "dataFinalEmissaoContasPagar",
                        "name": "dataFinalEmissao",
                        "in": "query",
                        "description": "Pesquisa por data final da emissão de contas a pagar",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "parameter": "dataInicialVencimentoContasPagar",
                        "name": "dataInicialVencimento",
                        "in": "query",
                        "description": "Pesquisa por data inicial do vencimento de contas a pagar",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "parameter": "dataFinalVencimentoContasPagar",
                        "name": "dataFinalVencimento",
                        "in": "query",
                        "description": "Pesquisa por data final do vencimento de contas a pagar",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "parameter": "numeroDocumentoContasPagar",
                        "name": "numeroDocumento",
                        "in": "query",
                        "description": "Pesquisa por número do documento de contas a pagar",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "marcadoresContaPagar",
                        "name": "marcadores",
                        "in": "query",
                        "description": "Pesquisa por marcadores",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "parameter": "idContatoContaPagar",
                        "name": "idContato",
                        "in": "query",
                        "description": "Pesquisa por ID do contato de contas a pagar",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 123
                    },
                    {
                        "parameter": "orderBy",
                        "name": "orderBy",
                        "in": "query",
                        "description": "Define a ordenação da listagem por ordem crescente ou decrescente\n- asc - Crescente\n- desc - Descrescente",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        },
                        "x-enumDescriptions": [
                            "asc - Crescente",
                            "desc - Descrescente"
                        ]
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limite da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListagemContasPagarResponseModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Contas a pagar"
                ],
                "summary": "Criar conta a pagar",
                "operationId": "CriarContaPagarAction",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CriarContaPagarRequestModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CriarContaPagarResponseModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contas-pagar/{idContaPagar}": {
            "get": {
                "tags": [
                    "Contas a pagar"
                ],
                "summary": "Obter conta a pagar",
                "operationId": "ObterContaPagarAction",
                "parameters": [
                    {
                        "name": "idContaPagar",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObterContaPagarModelResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contas-pagar/{idContaPagar}/recebimentos": {
            "get": {
                "tags": [
                    "Contas a pagar"
                ],
                "summary": "Obter recebimentos da conta a pagar",
                "operationId": "ObterRecebimentosContaPagarAction",
                "parameters": [
                    {
                        "name": "idContaPagar",
                        "in": "path",
                        "description": "Identificador da Conta a Pagar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObterRecebimentosModel"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contas-receber/{idContaReceber}": {
            "get": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Obter conta a receber",
                "operationId": "ObterContaReceberAction",
                "parameters": [
                    {
                        "name": "idContaReceber",
                        "in": "path",
                        "description": "Identificador da conta receber",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObterContaReceberResponseModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Atualizar conta a receber",
                "operationId": "AtualizarContaReceberAction",
                "parameters": [
                    {
                        "name": "idContaReceber",
                        "in": "path",
                        "description": "Identificador da conta receber",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AtualizarContaReceberRequestModel"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contas-receber/{idContaReceber}/marcadores": {
            "get": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Obter marcadores da conta a receber",
                "operationId": "ObterMarcadoresContaReceberAction",
                "parameters": [
                    {
                        "name": "idContaReceber",
                        "in": "path",
                        "description": "Identificador da conta receber",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObterMarcadorResponseModel"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Atualizar marcadores da conta a receber",
                "operationId": "AtualizarMarcadoresContaReceberAction",
                "parameters": [
                    {
                        "name": "idContaReceber",
                        "in": "path",
                        "description": "Identificador da conta a receber",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AtualizarMarcadorRequestModel"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Criar marcadores da conta a receber",
                "operationId": "CriarMarcadoresContaReceberAction",
                "parameters": [
                    {
                        "name": "idContaReceber",
                        "in": "path",
                        "description": "Identificador da conta a receber",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CriarMarcadorRequestModel"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Excluir marcadores da conta a receber",
                "operationId": "ExcluirMarcadoresContaReceberAction",
                "parameters": [
                    {
                        "name": "idContaReceber",
                        "in": "path",
                        "description": "Identificador da conta a receber",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contas-receber/{idContaReceber}/baixar": {
            "post": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Baixar uma conta a receber",
                "operationId": "BaixarContaReceberAction",
                "parameters": [
                    {
                        "name": "idContaReceber",
                        "in": "path",
                        "description": "Identificador da conta a receber",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BaixarContaReceberModelRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contas-receber": {
            "get": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Listar contas a receber",
                "operationId": "ListarContasReceberAction",
                "parameters": [
                    {
                        "parameter": "nomeClienteContasReceber",
                        "name": "nomeCliente",
                        "in": "query",
                        "description": "Pesquisa por nome do cliente de contas a receber",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "situacaoContasReceber",
                        "name": "situacao",
                        "in": "query",
                        "description": "Pesquisa por situação de contas a receber\n- aberto - Aberto\n- cancelada - Cancelada\n- pago - Pago\n- parcial - Parcial\n- prevista - Prevista\n- atrasadas - Atrasadas\n- emissao - Emissao",
                        "required": false,
                        "schema": {
                            "enum": [
                                "aberto",
                                "cancelada",
                                "pago",
                                "parcial",
                                "prevista",
                                "atrasadas",
                                "emissao"
                            ]
                        },
                        "x-enumDescriptions": [
                            "aberto - Aberto",
                            "cancelada - Cancelada",
                            "pago - Pago",
                            "parcial - Parcial",
                            "prevista - Prevista",
                            "atrasadas - Atrasadas",
                            "emissao - Emissao"
                        ]
                    },
                    {
                        "parameter": "dataInicialEmissaoContasReceber",
                        "name": "dataInicialEmissao",
                        "in": "query",
                        "description": "Pesquisa por data inicial da emissão de contas a receber",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "parameter": "dataFinalEmissaoContasReceber",
                        "name": "dataFinalEmissao",
                        "in": "query",
                        "description": "Pesquisa por data final da emissão de contas a receber",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "parameter": "dataInicialVencimentoContasReceber",
                        "name": "dataInicialVencimento",
                        "in": "query",
                        "description": "Pesquisa por data inicial do vencimento de contas a receber",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "parameter": "dataFinalVencimentoContasReceber",
                        "name": "dataFinalVencimento",
                        "in": "query",
                        "description": "Pesquisa por data final do vencimento de contas a receber",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "parameter": "numeroDocumentoContasReceber",
                        "name": "numeroDocumento",
                        "in": "query",
                        "description": "Pesquisa por número do documento de contas a receber. O número do documento é a concatenação do campo serie + numeroDocumento",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "numeroBancoContasReceber",
                        "name": "numeroBanco",
                        "in": "query",
                        "description": "Pesquisa por número do banco de contas a receber",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "idNotaContasReceber",
                        "name": "idNota",
                        "in": "query",
                        "description": "Pesquisa por identificador da nota de contas a receber",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "idVendaContasReceber",
                        "name": "idVenda",
                        "in": "query",
                        "description": "Pesquisa por identificador da venda de contas a receber",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "marcadoresContaReceber",
                        "name": "marcadores",
                        "in": "query",
                        "description": "Pesquisa por marcadores",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "parameter": "orderBy",
                        "name": "orderBy",
                        "in": "query",
                        "description": "Define a ordenação da listagem por ordem crescente ou decrescente\n- asc - Crescente\n- desc - Descrescente",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        },
                        "x-enumDescriptions": [
                            "asc - Crescente",
                            "desc - Descrescente"
                        ]
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limite da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "itens": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ListagemContasReceberResponseModel"
                                            }
                                        },
                                        "paginacao": {
                                            "$ref": "#/components/schemas/PaginatedResultModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Criar conta a receber",
                "operationId": "CriarContaReceberAction",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CriarContaReceberRequestModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CriarContaReceberResponseModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contas-receber/{idContaReceber}/recebimentos": {
            "get": {
                "tags": [
                    "Contas a receber"
                ],
                "summary": "Obter recebimentos da conta a receber",
                "operationId": "ObterRecebimentosContaReceberAction",
                "parameters": [
                    {
                        "name": "idContaReceber",
                        "in": "path",
                        "description": "Identificador da Conta a Receber",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ObterRecebimentosModel"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contatos/{idContato}": {
            "get": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Obter contato",
                "operationId": "ObterContatoAction",
                "parameters": [
                    {
                        "name": "idContato",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObterContatoModelResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Atualizar contato",
                "operationId": "AtualizarContatoAction",
                "parameters": [
                    {
                        "name": "idContato",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AtualizarContatoModelRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contatos/{idContato}/pessoas/{idPessoa}": {
            "get": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Obter pessoa de contato",
                "operationId": "ObterContatoContatoAction",
                "parameters": [
                    {
                        "name": "idContato",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idPessoa",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObterContatoContatoModelResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Atualizar pessoa de contato",
                "operationId": "AtualizarContatoContatoAction",
                "parameters": [
                    {
                        "name": "idContato",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idPessoa",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AtualizarContatoContatoModelRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Excluir pessoa de contato",
                "operationId": "ExcluirContatoContatoAction",
                "parameters": [
                    {
                        "name": "idContato",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idPessoa",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contatos/{idContato}/status-crm": {
            "put": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Atualizar status CRM do contato",
                "operationId": "AtualizarContatoStatusCrmAction",
                "parameters": [
                    {
                        "name": "idContato",
                        "in": "path",
                        "description": "Identificador do contato",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AtualizarContatoStatusCrmRequestModel"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contatos": {
            "get": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Listar contatos",
                "operationId": "ListarContatosAction",
                "parameters": [
                    {
                        "parameter": "nomeContato",
                        "name": "nome",
                        "in": "query",
                        "description": "Pesquisa por nome parcial ou completo",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "codigoContato",
                        "name": "codigo",
                        "in": "query",
                        "description": "Pesquisa por codigo completo",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "situacaoContato",
                        "name": "situacao",
                        "in": "query",
                        "description": "Pesquisa por situacao\n- B - Ativo\n- A - Ativo Com Acesso Sistema\n- I - Inativo\n- E - Excluido",
                        "required": false,
                        "schema": {
                            "enum": [
                                "B",
                                "A",
                                "I",
                                "E"
                            ]
                        },
                        "x-enumDescriptions": [
                            "B - Ativo",
                            "A - Ativo Com Acesso Sistema",
                            "I - Inativo",
                            "E - Excluido"
                        ]
                    },
                    {
                        "parameter": "idVendedorContato",
                        "name": "idVendedor",
                        "in": "query",
                        "description": "Pesquisa por vendedor padrão",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "cpfCnpjContato",
                        "name": "cpfCnpj",
                        "in": "query",
                        "description": "Pesquisa por CPF ou CNPJ",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "celularContato",
                        "name": "celular",
                        "in": "query",
                        "description": "Pesquisa pelo celular",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "dataCriacaoContato",
                        "name": "dataCriacao",
                        "in": "query",
                        "description": "Pesquisa por data de criação",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2023-01-01 10:00:00"
                        }
                    },
                    {
                        "parameter": "dataAtualizacaoContato",
                        "name": "dataAtualizacao",
                        "in": "query",
                        "description": "Pesquisa por data de atualização",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2023-01-01 10:00:00"
                        }
                    },
                    {
                        "parameter": "orderBy",
                        "name": "orderBy",
                        "in": "query",
                        "description": "Define a ordenação da listagem por ordem crescente ou decrescente\n- asc - Crescente\n- desc - Descrescente",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        },
                        "x-enumDescriptions": [
                            "asc - Crescente",
                            "desc - Descrescente"
                        ]
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limite da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "itens": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ListagemContatoModelResponse"
                                            }
                                        },
                                        "paginacao": {
                                            "$ref": "#/components/schemas/PaginatedResultModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Criar contato",
                "operationId": "CriarContatoAction",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CriarContatoModelRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CriarContatoModelResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contatos/{idContato}/pessoas": {
            "get": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Listar pessoas de contato",
                "operationId": "ListarContatosContatoAction",
                "parameters": [
                    {
                        "name": "idContato",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limite da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "itens": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ListagemContatosContatoModelResponse"
                                            }
                                        },
                                        "paginacao": {
                                            "$ref": "#/components/schemas/PaginatedResultModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Criar pessoa de contato",
                "operationId": "CriarContatoContatoAction",
                "parameters": [
                    {
                        "name": "idContato",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CriarContatoContatoModelRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CriarContatoContatoModelResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/contatos/tipos": {
            "get": {
                "tags": [
                    "Contatos"
                ],
                "summary": "Listar tipos de contatos",
                "operationId": "ListarTiposDeContatosAction",
                "parameters": [
                    {
                        "parameter": "nomeTipoContato",
                        "name": "nome",
                        "in": "query",
                        "description": "Pesquisa por nome parcial ou completo do tipo de contato",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limite da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset da paginação",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "itens": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ListarTiposDeContatosModelResponse"
                                            }
                                        },
                                        "paginacao": {
                                            "$ref": "#/components/schemas/PaginatedResultModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/crm/assuntos/{idAssunto}/arquivar": {
            "put": {
                "tags": [
                    "CRM"
                ],
                "summary": "Arquivar ou desarquivar assunto",
                "operationId": "ArquivarCrmAssuntoAction",
                "parameters": [
                    {
                        "name": "idAssunto",
                        "in": "path",
                        "description": "Identificador do assunto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ArquivarCrmAssuntoRequestModel"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/crm/assuntos/{idAssunto}/acoes/{idAcao}": {
            "get": {
                "tags": [
                    "CRM"
                ],
                "summary": "Obter ação de um assunto",
                "operationId": "ObterCrmAssuntoAcaoAction",
                "parameters": [
                    {
                        "name": "idAssunto",
                        "in": "path",
                        "description": "Identificador do assunto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idAcao",
                        "in": "path",
                        "description": "Identificador da ação",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObterActionModelResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "503": {
                        "description": "Service Unavailable"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
[...]
